body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-image: url("../img/background.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #CDA34F;
    margin:0;
    padding: 0;
}
h1 {
    text-align: center;
}

#tableContainer {
    border-collapse: collapse;
    width: 100%;
    display:flex;
    justify-content: center;
}

#tableContainer td, th {
    border: 1px solid #373F27;
    padding: 8px;
}

tr:nth-child(even){background-color: #E9E7DA;}
tr:nth-child(odd){background-color: #E9E7DA;}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #636B46;
    color: #E9E7DA;
}